.spinner {
  position: absolute;
  top: 20%;
  right: 35%;
  color: rgb(175, 8, 8);
  padding-top: 100px;
}

.spinning {
  animation: spinner 1s linear infinite;
}

@media screen and (min-width: 740px) {
  .spinner {
    right: 40%;
  }
}

@media screen and (min-width: 900px) {
  .spinner {
    right: 50%;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
