.main {
  background-image: url("../../img/landing.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main__btn {
  display: block;
  width: 90px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: 0 0 30px rgb(136, 109, 14), 0 0 20px rgb(136, 109, 14);
  transition: background 300ms;
}

.main__btn:hover {
  background-color: rgb(128, 17, 3);
  box-shadow: 0 0 30px #ccc;
}
